---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://www.andgoandco.com/</loc></url>
  <url><loc>https://www.andgoandco.com/approach/</loc></url>
  <url><loc>https://www.andgoandco.com/journal/</loc></url>
  <url><loc>https://www.andgoandco.com/contact/</loc></url>
  {% for post in collections.journal %}
  <url><loc>https://www.andgoandco.com{{ post.url }}</loc></url>
  {% endfor %}
</urlset>
